{% extends "base.html" %}
{% block content %}
  <h1>Drinkkiarkisto</h1>
  <h2>Lista drinkeistä</h2>

  <p>
    <a href="{{base_path}}/drinkki/lisaa" class="btn btn-success">Lisää juoma</a>
  </p>
  {% if message %}<p>{{message}}</p>{%endif%}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Drinkki</th>
        <th>Lisäyspäivä</th>
        
        
      </tr>
    </thead>

    <tbody>
      {% for drinkki in drinkit %}
      <tr>
        <td><a href="{{base_path}}/drinkki/{{drinkki.id}}">{{drinkki.nimi}}</td>
        <td>{{drinkki.lisayspaiva}}</td>
        
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

