{% extends "base.html" %}
{% block content %}
<h1>{{drinkki.nimi}}</h1>


  <form method="post" action="{{base_path}}/drinkki/poista" style="display: inline-block;">
      <input type="hidden" name="id" value={{drinkki.id}}>
  <button type="submit" class="btn btn-danger">Poista</button>
  </form>
  <a href="{{base_path}}/drinkki/{{drinkki.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Lisäyspäivä:</strong> {{drinkki.lisayspaiva}}</li>
    <li><strong>Lisääjä:</strong> {{drinkki.kayttaja_id}}</li>
    <li><strong>Tyyppi:</strong> {{drinkki.tyyppi}}</li>
</ul>

<p>
    {{drinkki.kuvaus}}
</p>
<h2>Resepti</h2>
<table style="width:25%">
    <tr>
        <th>Määrä</th>
        <th>Ainesosa</th>
    </tr>
    {%for ainesosa in drinkki.ainesosat%}
    <tr>
        <td>{{ainesosa.maara}}</td>
        <td>{{ainesosa.raakaAine}}</td>
    </tr>
    {%endfor%}
</table> 
<h3>Valmistusohje</h3>
<p>
    {{drinkki.valmistusohje}}
</p>
{% endblock %}
